
<div style="margin-top: -105px">
    <div class="row justify-content-md-center align-content-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-hdd" style="font-size:40px"></i>
            <h3>Backend</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lobortis elementum nibh tellus molestie. </p>

            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>ASP:NET Core, SQL Server</p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>ASP.NET MVC</li>
                <li>Web APIs</li>
                <li>Entity Framework Core</li>
                <li>Dapper</li>
            </ul>

        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-code-slash" style="font-size:40px"></i>
            <h3>Frontend</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lobortis elementum nibh tellus molestie. </p>

            <p class="text-primary cabecera">
                Stack:
            <p>React, Angular, Blazor</p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>ASP.NET MVC</li>
                <li>Web APIs</li>
                <li>Entity Framework Core</li>
                <li>Dapper</li>
            </ul>

        </div>
    </div>
</div>