<div class="text-center">
    <h1 class="display-4">Alejandro Elías </h1>
    <h2>Desarollador Web</h2>

    <img id="foto"
         src="~/imagenes/foto.jpg" alt="Alejandro Elias" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 section-welcome">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lobortis elementum nibh tellus molestie. Aenean sed adipiscing diam donec adipiscing tristique risus nec feugiat. Consectetur purus ut faucibus pulvinar elementum integer enim. Dolor magna eget est lorem ipsum dolor. A erat nam at lectus. Amet volutpat consequat mauris nunc congue nisi vitae suscipit tellus. Eget aliquet nibh praesent tristique. In fermentum posuere urna nec.
        </p>
    </div>
</div>
