#foto {
    width: 100px;
    margin: 2rem 0;
    border-radius: 50%;
}
.section-welcome {
    margin: 5rem 0 7rem 0;
    color: white;
}
.section-welcome h1 {
    margin-bottom: 1rem;
}

.section-welcome p {
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 1.25rem
}
.cabecera{

}
.habilidades ul{
    list-style:none;
    padding-left:0
}